@charset "UTF-8";
body {
  font-family: "Koruri", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  margin: 0;
}

.page-title {
  margin: 0;
  padding: 12px 8px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.page-title h1 {
  display: inline;
}
.page-title .title-menu {
  display: inline;
  float: right;
}
.page-title .title-menu a:link, .page-title .title-menu a:visited {
  color: unset;
}
.page-title .title-menu:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 8px;
}

.options-form {
  margin: 8px auto;
  text-align: center;
}

.options {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}

.grid {
  margin: 0 auto;
  border-collapse: collapse;
}
.grid th, .grid td {
  border: 1px solid #ccc;
  padding: 4px 8px;
}
.grid th {
  background-color: #eaeaea;
}
.grid tr:nth-child(even) {
  background-color: #fafafa;
}

.table-conflicts {
  margin: 0 auto;
  border-collapse: collapse;
}
.table-conflicts th, .table-conflicts td {
  border: 1px solid #cccccc;
  padding: 4px 8px;
}
.table-conflicts th {
  background-color: #eaeaea;
}

.table-conflicts-id {
  font-weight: bold;
  background-color: #fafafa;
}

.btn-watched {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
  text-decoration: initial;
  background-color: #dfd;
  border: 1px solid #8c8;
  color: #373;
}
.btn-watched:hover {
  background-color: #c4ffc4;
}

.btn-notyet {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
  text-decoration: initial;
  background-color: #fee;
  border: 1px solid #f88;
  color: #f44;
}
.btn-notyet:hover {
  background-color: #ffd5d5;
}

.msg-info {
  font-weight: bold;
  color: deepskyblue;
}

.subtitle {
  font-size: small;
  color: #777;
}

.episode {
  font-size: small;
  color: #669;
}

.channel-name {
  font-size: small;
  color: #777;
}

.record-warning {
  cursor: pointer;
}

.paginator {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.paginator-pages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator-item {
  display: inline-block;
  color: #4f83d2;
  border: 1px solid #5e9eff;
}
.paginator-item a {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}
.paginator-item a:link {
  color: unset;
}
.paginator-item a:visited {
  color: unset;
}
.paginator-item.current {
  color: #eee;
  background-color: #5e9eff;
}
.paginator-item:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.paginator-item:not(:first-child) {
  border-left: none;
}
.paginator-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*# sourceMappingURL=common.css.map */
